# Node.js dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Local media storage
Data/

# Environment files
.env

# Build outputs
frontend/dist/

# SQLite Database (optional, but good to ignore so you don't overwrite your server's DB later)
# If you want to push the empty DB, leave this commented out for now.
# backend/dev.db
# backend/dev.db-journal
